* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.head {
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    min-height: 90vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sketchToggle {
    min-width: 100%;
    text-align: left;
    padding: 0.50em;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    box-shadow: 4px 4px #ababab;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-width: 100%;
    min-height: 4em;
    padding: 0.25rem;
}

.btnBlack,
.btnRand,
.btnReset,
.btnErase {
    font-size: 1rem;
    font-family: monospace;
    font-weight: bolder;
    font-style: italic;
    padding: 0.50rem;
    border: none;
    border-radius: 0.25rem;
    transition: transform 0.25s;
}

.btnBlack:hover,
.btnRand:hover,
.btnReset:hover,
.btnErase:hover {
    border: 1px solid yellow;
    transform: scale(1.15);
}

.btnBlack {
    background-color: black;
    color: white;
}

.btnRand {
    color: white;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(8, 93, 134, 1) 51%, rgba(166, 126, 5, 1) 100%);
}

.btnReset {
    background-color: maroon;
    color: white;
}

.head {
    background-color: #000;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.25rem;
    padding: 0.50em;
}

@media(max-width: 500px) {

    .board {
        display: grid;
        width: 350px;
        height: 350px;
        border: 2px solid black;
    }

}